<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpense.android">

<!--    TODO: re-enable when SMS receiver permission is resolved on Play Store -->
<!--     <uses-permission android:name="android.permission.RECEIVE_SMS" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".XpenseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xpense">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <nav-graph android:value="@navigation/navigation" />
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--    TODO: re-enable when SMS receiver permission is resolved on Play Store -->
<!--        <receiver-->
<!--            android:name=".receiver.SmsReceiver"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.BROADCAST_SMS">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

    <!-- Related to restrictions on "package visibility" introduced in Android 11. -->
    <!-- See https://developer.android.com/about/versions/11/privacy/package-visibility -->
    <!-- Example: when calling intent.resolveActivity(requireActivity().packageManager) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

</manifest>